<launch>

    <arg name="how_many_robot" value="1"/>
    <param name="explore-lite" value="false"/>
    <arg name="cluster_radius" value="2.7"/>
    <param name="cluster_radius" value="$(arg cluster_radius)"/>

    <arg name="world" value="office_2"/>
    <param name="world" value="$(arg world)"/>

    <!-- ################## -->
    <!-- DECOMMENT ONLY ONE -->

    <!-- world: map23, E13-3, 13-3, E40-2 
    <include file="$(find journal_rendezvous)/launch/world_sdf.launch">
        <arg name="world" value="$(arg world)"/>
    </include> -->

    <!-- world 2: big_office, office2-->
    <include file="$(find journal_rendezvous)/launch/world.launch">
        <arg name="use_gui" value="false"/>
        <arg name="world_name" value="$(arg world)"/>
    </include>
    
    <!-- ################## -->

    <!-- robot 1 -->
    <include file="$(find journal_rendezvous)/launch/one_robot.launch">
        <arg name="robot_number" value="1"/>
        <arg name="pose_x"       value="-13"/>
        <arg name="pose_y"       value="14"/>
        <arg name="pose_z"       value="0"/>
        <arg name="slam"         value="true"/>
        <arg name="formation"    value="false"/>
        <arg name="exploration"  value="true"/>
        <arg name="blobbing"     value="false"/>
        <arg name="semantic"     value="bonus"/>
    </include>

    <node 
        name   = "semantic"
        pkg    = "journal_rendezvous"
        type   = "semantic.py"
        args   = "$(find journal_rendezvous)/semantic_coords/$(arg world).coords"
        output = "screen"
    />

    <!-- all_positions -->
    <node 
        name   = "pos_aggregator"
        pkg    = "journal_rendezvous"
        type   = "pos_aggregator.py"
        args   = "$(arg how_many_robot)"
        output = "screen"
    />
    
    <!-- cluster -->
    <node 
        name   = "cluster"
        pkg    = "journal_rendezvous"
        type   = "cluster_controller.py"
        args   = "$(arg cluster_radius) $(arg how_many_robot)"
        output = "screen"
    />

    <!-- RVIZ -->
    <include file="$(find journal_rendezvous)/launch/rviz.launch">
        <arg name="rviz_file" value="test_8"/>
    </include> 

</launch>