<launch>

  <arg name = "world_name" default = "world1"/>
  <arg name = "use_gui" default = "false"/>

  <include file = "$(find gazebo_ros)/launch/empty_world.launch">
    <arg name = "world_name" value = "$(find test_unknown_rendezvous)/worlds/$(arg world_name).world"/>
    <arg name = "paused" value = "false"/>
    <arg name = "use_sim_time" value = "true"/>
    <arg name = "gui" value = "$(arg use_gui)"/>
    <arg name = "headless" value = "true"/>
    <arg name = "debug" value = "false"/>
  </include>

</launch>